*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif;}

.bg-dark{
    background-image: url('../images/signin/register.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-github {
    background-color: #006600!important;
    color: #fff!important;
}
.btn-gmail {
    background-color: #DC143C!important;
    color: #fff!important;
}