{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href={% static 'css/registration.css' %}>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>

  <style>
        .sg{
            margin-top: 300px!important;
        }
</style>
<body>

<section class="mustauthenticate">
<div class=" bg-dark" style="height: 100vh;">
    <div class="d-flex flex-column" >
        <h1 class="m-auto sg" style="color:white;">Must Authenticate to view this Page</h1>
        <h1 class="m-auto"> 
            <a href="{% url 'register' %}">Register</a> <span style="color:white;">or</span> 
            <a href="{% url 'login' %}">Login</a>
        </h1>
    </div>
</div>
</section> 

 </body>
</html>